@media(min-width: 768px) {
    .page {
        padding-left: 4rem !important;
        padding-right: 4rem !important;

        margin-left: 18vw;
    }
}

.page {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
